<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'cards:vehicle_list' %}">
            <i class="fas fa-truck"></i> ЭХП РОСАТОМ, Автотранспортный цех 013
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto">

                <!-- 1. СИСТЕМА -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="systemMenu" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-cogs"></i> Система
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="systemMenu">
                        <li><a class="dropdown-item" href="{% url 'cards:settings' %}">
                            <i class="fas fa-sliders-h"></i> Настройки
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:about' %}">
                            <i class="fas fa-info-circle"></i> Справочная информация
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/admin/logout/">
                            <i class="fas fa-sign-out-alt"></i> Выход (Alt+F4)
                        </a></li>
                    </ul>
                </li>

                <!-- 2. СПРАВОЧНИКИ -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="referencesMenu" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-book"></i> Справочники
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="referencesMenu">
                        <li><a class="dropdown-item" href="{% url 'cards:vehicle_list' %}">
                            <i class="fas fa-truck"></i> Транспортные средства
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:vehicle_list' %}?archived=1">
                            <i class="fas fa-archive"></i> Архив транспортных средств
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/admin/cards/brandmodel/">
                            <i class="fas fa-list"></i> Марки-модели
                        </a></li>
                        <li><a class="dropdown-item" href="/admin/cards/">
                            <i class="fas fa-table"></i> Общие справочники
                        </a></li>
                    </ul>
                </li>

                <!-- 3. СЕРВИС -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="serviceMenu" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-tools"></i> Сервис
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="serviceMenu">
                        <li><a class="dropdown-item" href="{% url 'cards:free_garage_numbers' %}">
                            <i class="fas fa-parking"></i> Свободные гаражные номера
                        </a></li>
                    </ul>
                </li>

                <!-- 4. ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="maintenanceMenu" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-wrench"></i> Тех.обслуживание
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="maintenanceMenu">
                        <li><h6 class="dropdown-header">ТО-2</h6></li>
                        <li><a class="dropdown-item" href="{% url 'cards:maintenance_base' %}">
                            <i class="fas fa-hammer"></i> Проведение ТО-2
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Графики</h6></li>
                        <li><a class="dropdown-item" href="{% url 'cards:maintenance_schedule' %}">
                            <i class="fas fa-calendar-alt"></i> ТС для проведения ТО-2
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:maintenance_schedule' %}?type=inspection">
                            <i class="fas fa-check-circle"></i> График прохождения ГТО, ОСАГО
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:maintenance_schedule' %}?type=gbo">
                            <i class="fas fa-gas-pump"></i> График прохождения ГБО
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:maintenance_schedule' %}?type=dpo">
                            <i class="fas fa-certificate"></i> График прохождения ДПОГ
                        </a></li>
                    </ul>
                </li>

                <!-- 5. ОТЧЁТЫ -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reportsMenu" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-chart-bar"></i> Отчёты
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="reportsMenu">
                        <li><a class="dropdown-item" href="/admin/cards/auditlog/">
                            <i class="fas fa-history"></i> Журнал аудита
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:reports_base' %}">
                            <i class="fas fa-table"></i> Таблицы справочников
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'cards:vehicle_export' %}">
                            <i class="fas fa-download"></i> Экспорт данных
                        </a></li>
                    </ul>
                </li>

                <!-- 6. ПРОФИЛЬ И ПОЛЬЗОВАТЕЛЬ (правая сторона) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileMenu" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                        {% if user.is_authenticated %}
                            {{ user.first_name|default:user.username }}
                        {% else %}
                            Вход
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="profileMenu">
                        {% if user.is_authenticated %}
                            {% if user.profile %}
                            <li><a class="dropdown-item disabled">
                                <i class="fas fa-id-badge"></i> {{ user.profile.fio }}
                            </a></li>
                            <li><a class="dropdown-item disabled">
                                <i class="fas fa-briefcase"></i> {{ user.profile.position }}
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/admin/">
                                <i class="fas fa-cog"></i> Администрирование
                            </a></li>
                            <li><a class="dropdown-item" href="/admin/logout/">
                                <i class="fas fa-sign-out-alt"></i> Выход
                            </a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="/admin/login/">
                                <i class="fas fa-sign-in-alt"></i> Вход в систему
                            </a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>